/* styles.css */
.hamburger-menu {
    position: fixed;
     left: -210px; /*Start off-screen to the left */
    top: 0;
    bottom: 0;
    width: 250px; /* Adjust the width as needed */
    background-color: rgb(255, 255, 255) ;
    color: rgb(0, 0, 0);
    transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); /* Add smooth sliding animation */
    z-index: 999;
    
  }
  
  .hamburger-menu.open {
    left: 0; /* Slide in from the left when open */
  }
  
  .hamburger-icon {
    cursor: pointer;
  }
  
  .menu-items {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  .menu-items li {
    cursor: pointer;
    margin: 10px 0;
  }
  .menu-items img{
    /* display: flex; */
    justify-content: flex-end;
    margin-left: 15%;
    color: white;
  }
  
  /* Add an overlay to cover the rest of the content when the menu is open */
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 998; /* Place it below the menu */
  }
  
  .overlay.open {
    display: block;
  }
  li:hover{
    background-color: black;
    color: white;
    
  }
  