
body {
  font-family: "Poppins";
}
.pages {
  position: absolute; 
  /* left: 15%;
   top: -7%;
  /* transform: translate(-20%, -20%);  */
  
  font-size: 5px;
}

@media only screen and (max-width: 768px) {
  .pages {
    font-size: 1.5rem;
  }
}

